<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 60px; text-align: center; background-color: #A1A1A3;"> üèéÔ∏è FORMULA 1: LAP TIMES üèéÔ∏è </h1>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">00 | First Steps </h1>

In [1]:
import re                                                # üîÑ Importa la biblioteca re para operaciones de expresiones regulares.
import pandas as pd                                      # üòÄ Importa la biblioteca pandas y la renombra como pd para su uso en el c√≥digo.
import matplotlib.pyplot as plt                          # üìä Importa la biblioteca matplotlib.pyplot y la renombra como plt para su uso en el c√≥digo.
import seaborn as sns                                    # üìà Importa la biblioteca seaborn para gr√°ficos estad√≠sticos.
import numpy as np                                       # üî¢ Importa la biblioteca numpy y la renombra como np para su uso en el c√≥digo.
import statsmodels.api as sm                             # üìà Importa la biblioteca statsmodels.api para an√°lisis estad√≠stico y modelado.
import scipy.stats as st                                 # üî¨ Importa la biblioteca scipy.stats para distribuciones y pruebas estad√≠sticas.
import warnings                                          # ‚ö†Ô∏è Importa la biblioteca warnings para manejar advertencias.
from datetime import datetime                            # üìÖ Importa la clase datetime de la biblioteca datetime para trabajar con fechas y horas.

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> RELLENAR!
</div>

<h4 style="color: #F70206;">Other settings</h4>

In [2]:
warnings.filterwarnings("ignore")
%matplotlib inline
pd.set_option('display.max_columns', None)

<h4 style="color: #F70206;">Data Extraction</h4>

In [3]:
data = pd.read_csv("lap_times.csv")

<h4 style="color: #F70206;">Exploring the Data (First Impression)</h4>

In [4]:
data

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
551737    1110       817   40        17  1:54.361        114361
551738    1110       817   41        17  1:53.367        113367
551739    1110       817   42        16  1:55.247        115247
551740    1110       817   43        16  1:52.115        112115
551741    1110       817   44        16  1:52.265        112265

[551742 rows x 6 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        551742 non-null  int64
 1   driverId      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time          551742 non-null  object
 5   milliseconds  551742 non-null  int64
dtypes: int64(5), object(1)
memory usage: 25.3+ MB

In [6]:
data.columns

Index(['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds'], dtype='object')

In [7]:
for column in data.columns:
    print(f'{column} = {data[column].unique()}')

raceId = [ 841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  881  880  882
  883  884  885  886  887  888  890  891  892  893  894  895  896  897
  898  899  900  901  902  903  904  905  906  907  908  909  910  911
  912  913  914  915  916  926  918  927  928  929  930  931  932  933
  934  936  937  938  939  940  941  942  943  944  945  948  949  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  207  208  209  210  211  212  213  214  215  216  217  218  219
  220  221  222  223  191  192  193  194  195  196  197  198  199  200
  201  202  203  204  205  206  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  158  159  160  161  162  163
  164  165  166  167  168  169  170  171  172  173  174  141  142  143
  144  145  146  147  148  149  150  151  152  153  154  155  156  157
  124  125  126  127  128  129  130  131  132  133  134  135  136  137
  138  139  140  108  109  110  111  112  113  114  115  116  117  118
  119  120  121  122  123   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107   71   72   73   74   75
   76   77   78   79   80   81   82   83   84   85   86   87   88   89
   53   54   55   56   57   58   59   60   61   62   63   64   65   66
   67   68   69   70   36   37   38   39   40   41   42   43   44   45
   46   47   48   49   50   51   52   18   19   20   21   22   23   24
   25   26   27   28   29   30   31   32   33   34   35    1    2    3
    4    5    6    7    8    9   10   11   12   13   14   15   16   17
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  917  950  951  952  953  954  955  956  957
  958  959  960  961  962  963  964  965  966  967  968  969  970  971
  972  973  974  975  976  977  978  979  980  981  982  983  984  985
  986  987  988  989  990  991  992  993  994  995  996  997  998  999
 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041
 1042 1043 1044 1045 1046 1047 1052 1053 1054 1055 1056 1057 1059 1058
 1060 1061 1062 1063 1064 1065 1066 1067 1069 1070 1071 1051 1072 1073
 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087
 1088 1089 1091 1092 1093 1094 1095 1096 1098 1099 1100 1101 1102 1104
 1105 1106 1107 1108 1109 1110]
driverId = [ 20   1  17 808  13  18   3 155   4 814  67  16   2 815   5 813  15 816
  10  22 153  30  24  39  37 817 812 811 154   8 818 819 807 821 823 824
 820 822 825 826 828 827 832 829 831 830 833 834 835 836 837 838  56  55
  77  71  35  57  14  44  64  84  49  73  50  79  63  83  21  65  69  85
  58  86  23  75  78  76  81  25  82  68  74  70  48  41  72  60  54  31
  59  62  61  11  66  19  52  42  51  43  53  47  32  45  46  33  40  27
  38  26  34  36  29   9  28   6  12   7 810 839 840 841 842 843 845 844
 846 848 847 849 851 850 852 854 853 855 856 858 857]
lap = [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87]
position = [ 1  3  4  2  7  8  6  5 11 12 10  9 13 16 17 15 14 18 19 20 21 22 24 23]
time = ['1:38.109' '1:33.006' '1:32.713' ... '1:53.230' '2:07.338' '2:09.835']
milliseconds = [ 98109  93006  92713 ... 113230 127338 129835]

In [8]:
df = data.copy()

In [9]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

<h4 style="color: #F70206;">Adding variables to df and dropping unusefull columns</h4>

In [10]:
data1 = pd.read_csv("circuits.csv")

In [11]:
df1 = data1.copy()

In [12]:
df1.sample()

    circuitid circuitref      lat      lng alt
24         25     galvez -34.6943 -58.4593   8

In [13]:
df1 = df1.drop(["lat", "lng", "alt"], axis= 1)

In [14]:
data2 = pd.read_csv("races.csv")

In [15]:
df2 = data2.copy()

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1101 non-null   int64
 1   year         1101 non-null   int64
 2   round        1101 non-null   int64
 3   circuitId    1101 non-null   int64
 4   name         1101 non-null   object
 5   date         1101 non-null   object
 6   time         1101 non-null   object
 7   url          1101 non-null   object
 8   fp1_date     1101 non-null   object
 9   fp1_time     1101 non-null   object
 10  fp2_date     1101 non-null   object
 11  fp2_time     1101 non-null   object
 12  fp3_date     1101 non-null   object
 13  fp3_time     1101 non-null   object
 14  quali_date   1101 non-null   object
 15  quali_time   1101 non-null   object
 16  sprint_date  1101 non-null   object
 17  sprint_time  1101 non-null   object
dtypes: int64(4), object(14)
memory usage: 155.0+ KB

In [17]:
df2.sample()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
411,412,1986,9,38,British Grand Prix,1986-07-13,\N,http://en.wikipedia.org/wiki/1986_British_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [18]:
df2.columns

Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url',
       'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time'],
      dtype='object')

In [19]:
for i in ['url','fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
          'quali_date', 'quali_time', 'sprint_date', 'sprint_time']:
    df2.drop(columns=[i], inplace=True)

In [20]:
df2.columns = df2.columns.str.lower().str.replace(" ", "_")

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceid     1101 non-null   int64
 1   year       1101 non-null   int64
 2   round      1101 non-null   int64
 3   circuitid  1101 non-null   int64
 4   name       1101 non-null   object
 5   date       1101 non-null   object
 6   time       1101 non-null   object
dtypes: int64(4), object(3)
memory usage: 60.3+ KB

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitid   77 non-null     int64
 1   circuitref  77 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceid        551742 non-null  int64
 1   driverid      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time          551742 non-null  object
 5   milliseconds  551742 non-null  int64
dtypes: int64(5), object(1)
memory usage: 25.3+ MB

In [24]:
df_merged = pd.merge(df2, df1, on='circuitid', how='inner')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   raceid      1101 non-null   int64
 1   year        1101 non-null   int64
 2   round       1101 non-null   int64
 3   circuitid   1101 non-null   int64
 4   name        1101 non-null   object
 5   date        1101 non-null   object
 6   time        1101 non-null   object
 7   circuitref  1101 non-null   object
dtypes: int64(4), object(4)
memory usage: 68.9+ KB

In [25]:
df_merged1 = pd.merge(df, df_merged, on='raceid', how='inner')
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceid        551742 non-null  int64
 1   driverid      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time_x        551742 non-null  object
 5   milliseconds  551742 non-null  int64
 6   year          551742 non-null  int64
 7   round         551742 non-null  int64
 8   circuitid     551742 non-null  int64
 9   name          551742 non-null  object
 10  date          551742 non-null  object
 11  time_y        551742 non-null  object
 12  circuitref    551742 non-null  object
dtypes: int64(8), object(5)
memory usage: 54.7+ MB

In [26]:
df_merged1 = df_merged1[df_merged1["year"] > 2020]

In [27]:
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60838 entries, 490904 to 551741
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceid        60838 non-null  int64
 1   driverid      60838 non-null  int64
 2   lap           60838 non-null  int64
 3   position      60838 non-null  int64
 4   time_x        60838 non-null  object
 5   milliseconds  60838 non-null  int64
 6   year          60838 non-null  int64
 7   round         60838 non-null  int64
 8   circuitid     60838 non-null  int64
 9   name          60838 non-null  object
 10  date          60838 non-null  object
 11  time_y        60838 non-null  object
 12  circuitref    60838 non-null  object
dtypes: int64(8), object(5)
memory usage: 6.5+ MB

In [28]:
raceid_list = [1052, 1053, 1054, 1055, 1056, 1057, 1059, 1058, 1060, 1061, 1062,
       1063, 1064, 1065, 1066, 1067, 1069, 1070, 1071, 1051, 1072, 1073,
       1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084,
       1085, 1086, 1087, 1088, 1089, 1091, 1092, 1093, 1094, 1095, 1096,
       1098, 1099, 1100, 1101, 1102, 1104, 1105, 1106, 1107, 1108, 1109,
       1110]

In [29]:
data4 = pd.read_csv("qualifying.csv")
df4 = data4.copy()
df4.info()
df4.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   object
 7   q2             9651 non-null   object
 8   q3             9488 non-null   object
dtypes: int64(6), object(3)
memory usage: 690.2+ KB

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2615,2617,257,83,32,11,24,1:19.975,\N,\N
5132,5135,867,813,3,18,3,1:38.825,1:38.570,1:38.475
5526,5529,883,820,206,23,22,1:36.476,\N,\N
4761,4764,850,813,3,12,13,1:33.003,1:32.635,\N
3264,3266,15,20,9,15,1,1:30.883,1:30.341,1:32.160
1006,1007,65,8,1,3,1,1:20.080,1:19.704,1:19.599
6737,6760,951,18,1,22,12,1:38.332,1:37.701,\N
3068,3070,5,17,9,14,5,1:20.689,1:20.007,1:21.049
6523,6546,939,8,6,7,3,1:46.467,1:45.140,1:44.667
8301,8325,1028,846,1,4,8,1:33.353,1:33.316,1:33.175
578,579,45,21,4,3,13,1:32.378,1:32.010,\N
4561,4564,842,17,9,2,3,1:37.924,1:36.080,1:35.179
1884,1885,210,77,22,8,11,1:25.371,\N,\N
9654,9712,1101,856,213,21,20,\N,\N,\N
8016,8040,1014,20,6,5,3,1:17.425,1:16.667,1:16.272
3234,3236,13,15,7,9,11,1:24.014,1:23.611,\N
1413,1414,104,13,15,12,16,1:22.287,\N,\N
581,582,45,11,8,22,16,1:32.678,1:32.838,\N
8954,8995,1065,1,131,44,2,1:20.543,1:19.936,1:19.651
2406,2408,249,56,17,15,7,1:19.499,\N,\N

In [30]:
df4.columns = df4.columns.str.lower().str.replace(" ", "_")

In [31]:
df4 = df4[df4["raceid"].isin(raceid_list)]

In [32]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1119 entries, 8694 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyid      1119 non-null   int64
 1   raceid         1119 non-null   int64
 2   driverid       1119 non-null   int64
 3   constructorid  1119 non-null   int64
 4   number         1119 non-null   int64
 5   position       1119 non-null   int64
 6   q1             1119 non-null   object
 7   q2             1089 non-null   object
 8   q3             1047 non-null   object
dtypes: int64(6), object(3)
memory usage: 87.4+ KB

In [33]:
data5 = pd.read_csv("pit_stops.csv")
df5= data5.copy()
df5.info()
df5.sample()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089 entries, 0 to 10088
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        10089 non-null  int64
 1   driverId      10089 non-null  int64
 2   stop          10089 non-null  int64
 3   lap           10089 non-null  int64
 4   time          10089 non-null  object
 5   duration      10089 non-null  object
 6   milliseconds  10089 non-null  int64
dtypes: int64(5), object(2)
memory usage: 551.9+ KB

      raceId  driverId  stop  lap      time duration  milliseconds
3236     904       828     2   40  15:07:44   26.671         26671

In [34]:
df5.columns = df5.columns.str.lower().str.replace(" ", "_")

In [35]:
df5 = df5[df5["raceid"].isin(raceid_list)]

In [36]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2058 entries, 8030 to 10088
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceid        2058 non-null   int64
 1   driverid      2058 non-null   int64
 2   stop          2058 non-null   int64
 3   lap           2058 non-null   int64
 4   time          2058 non-null   object
 5   duration      2058 non-null   object
 6   milliseconds  2058 non-null   int64
dtypes: int64(5), object(2)
memory usage: 128.6+ KB

In [37]:
data6 = pd.read_csv("results.csv")
df6 = data6.copy()
df6.info()
df6.head(25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   number           26080 non-null  object
 5   grid             26080 non-null  int64
 6   position         26080 non-null  object
 7   positionText     26080 non-null  object
 8   positionOrder    26080 non-null  int64
 9   points           26080 non-null  float64
 10  laps             26080 non-null  int64
 11  time             26080 non-null  object
 12  milliseconds     26080 non-null  object
 13  fastestLap       26080 non-null  object
 14  rank             26080 non-null  object
 15  fastestLapTime   26080 non-null  object
 16  fastestLapSpeed  26080 non-null  object
 17  statusId         26080 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,\N,R,11,0.0,32,\N,\N,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,\N,R,12,0.0,30,\N,\N,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,\N,R,13,0.0,29,\N,\N,23,6,1:28.175,216.510,5
13,14,18,14,9,9,8,\N,R,14,0.0,25,\N,\N,21,11,1:29.502,213.300,4
14,15,18,15,7,11,6,\N,R,15,0.0,19,\N,\N,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,\N,R,16,0.0,8,\N,\N,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,\N,R,17,0.0,0,\N,\N,\N,\N,\N,\N,4
17,18,18,18,11,16,12,\N,R,18,0.0,0,\N,\N,\N,\N,\N,\N,4
18,19,18,19,8,19,21,\N,R,19,0.0,0,\N,\N,\N,\N,\N,\N,4
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4
20,21,18,21,10,21,16,\N,R,21,0.0,0,\N,\N,\N,\N,\N,\N,4
21,22,18,22,11,17,10,\N,D,22,0.0,58,\N,\N,44,8,1:28.736,215.141,2
22,23,19,8,6,1,2,1,1,1,10.0,56,1:31:18.555,5478555,37,2,1:35.405,209.158,1
23,24,19,9,2,4,4,2,2,2,8.0,56,+19.570,5498125,39,6,1:35.921,208.033,1
24,25,19,5,1,23,8,3,3,3,6.0,56,+38.450,5517005,19,7,1:35.922,208.031,1

In [38]:
df6.columns = df6.columns.str.lower().str.replace(" ", "_")

In [39]:
df6 = df6[df6["raceid"].isin(raceid_list)]

In [97]:
data7 = pd.read_csv("drivers.csv")
df7 = data7.copy()
df7.info()
df7.head(25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
5,6,nakajima,\N,NAK,Kazuki,Nakajima,1985-01-11,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
6,7,bourdais,\N,BOU,S√©bastien,Bourdais,1979-02-28,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
7,8,raikkonen,7,RAI,Kimi,R√§ikk√∂nen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock
10,11,sato,\N,SAT,Takuma,Sato,1977-01-28,Japanese,http://en.wikipedia.org/wiki/Takuma_Sato
11,12,piquet_jr,\N,PIQ,Nelson,Piquet Jr.,1985-07-25,Brazilian,"http://en.wikipedia.org/wiki/Nelson_Piquet,_Jr."
12,13,massa,19,MAS,Felipe,Massa,1981-04-25,Brazilian,http://en.wikipedia.org/wiki/Felipe_Massa
13,14,coulthard,\N,COU,David,Coulthard,1971-03-27,British,http://en.wikipedia.org/wiki/David_Coulthard
14,15,trulli,\N,TRU,Jarno,Trulli,1974-07-13,Italian,http://en.wikipedia.org/wiki/Jarno_Trulli
15,16,sutil,99,SUT,Adrian,Sutil,1983-01-11,German,http://en.wikipedia.org/wiki/Adrian_Sutil
16,17,webber,\N,WEB,Mark,Webber,1976-08-27,Australian,http://en.wikipedia.org/wiki/Mark_Webber_(raci...
17,18,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
18,19,davidson,\N,DAV,Anthony,Davidson,1979-04-18,British,http://en.wikipedia.org/wiki/Anthony_Davidson
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
20,21,fisichella,\N,FIS,Giancarlo,Fisichella,1973-01-14,Italian,http://en.wikipedia.org/wiki/Giancarlo_Fisichella
21,22,barrichello,\N,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
22,23,ralf_schumacher,\N,SCH,Ralf,Schumacher,1975-06-30,German,http://en.wikipedia.org/wiki/Ralf_Schumacher
23,24,liuzzi,\N,LIU,Vitantonio,Liuzzi,1980-08-06,Italian,http://en.wikipedia.org/wiki/Vitantonio_Liuzzi
24,25,wurz,\N,WUR,Alexander,Wurz,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz

In [98]:
df7.columns = df7.columns.str.lower().str.replace(" ", "_")

In [99]:
df7 = df7.drop(["number", "code", "forename", "surname", "dob", "nationality", "url"], axis= 1)

In [100]:
df7.to_csv('df_driverid_name.csv', index=False)

In [40]:
df5.columns = df5.columns.str.lower().str.replace(" ", "_")

In [41]:
df_merged1.raceid.unique()

array([1052, 1053, 1054, 1055, 1056, 1057, 1059, 1058, 1060, 1061, 1062,
       1063, 1064, 1065, 1066, 1067, 1069, 1070, 1071, 1051, 1072, 1073,
       1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084,
       1085, 1086, 1087, 1088, 1089, 1091, 1092, 1093, 1094, 1095, 1096,
       1098, 1099, 1100, 1101, 1102, 1104, 1105, 1106, 1107, 1108, 1109,
       1110], dtype=int64)

In [42]:
df_merged2 = pd.merge(df4, df_merged, on='raceid', how='inner')
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyid      1119 non-null   int64
 1   raceid         1119 non-null   int64
 2   driverid       1119 non-null   int64
 3   constructorid  1119 non-null   int64
 4   number         1119 non-null   int64
 5   position       1119 non-null   int64
 6   q1             1119 non-null   object
 7   q2             1089 non-null   object
 8   q3             1047 non-null   object
 9   year           1119 non-null   int64
 10  round          1119 non-null   int64
 11  circuitid      1119 non-null   int64
 12  name           1119 non-null   object
 13  date           1119 non-null   object
 14  time           1119 non-null   object
 15  circuitref     1119 non-null   object
dtypes: int64(9), object(7)
memory usage: 140.0+ KB

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> TRAS ANALIZAR TODOS LOS DATAFRAMES ME QUEDO CON 2 UNO DE CLASIFICACION Y OTRO DE CARRERA QUE SON LA UNION DE 3 DATAFRAMES CADA UNO. EL OBJETIVO PREDECIR LA CLASIFICACION q1,q2,q3 Y OBTENER EL ORDEN DE SALIDA PARA LA CARRERA Y PREDECIR LOS TIEMPOS POR PILOTO PARA ASI OBTENER LA POSICION FINAL!
</div>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">01 | Data Cleaning</h1>

In [43]:
df_merged2.head(3)

,qualifyid,raceid,driverid,constructorid,number,position,q1,q2,q3,year,round,circuitid,name,date,time,circuitref
0,8735,1052,830,9,33,1,1:30.499,1:30.318,1:28.997,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
1,8736,1052,1,131,44,2,1:30.617,1:30.085,1:29.385,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
2,8737,1052,822,131,77,3,1:31.200,1:30.186,1:29.586,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain

In [44]:
df_merged1.head(10)

,raceid,driverid,lap,position,time_x,milliseconds,year,round,circuitid,name,date,time_y,circuitref
490904,1052,830,1,1,1:58.245,118245,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490905,1052,830,2,1,2:22.406,142406,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490906,1052,830,3,1,2:38.001,158001,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490907,1052,830,4,1,1:44.343,104343,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490908,1052,830,5,1,1:44.629,104629,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490909,1052,830,6,1,1:35.982,95982,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490910,1052,830,7,1,1:35.902,95902,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490911,1052,830,8,1,1:36.032,96032,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490912,1052,830,9,1,1:36.012,96012,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain
490913,1052,830,10,1,1:36.175,96175,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain

<h4 style="color: #F70206;">Cleaning Column Names</h4>

In [45]:
df_merged1.columns = df_merged1.columns.str.lower().str.replace(" ", "_").str.replace("time_x", "lap_time")

In [46]:
df_merged2.columns = df_merged2.columns.str.lower().str.replace(" ", "_")

df.rename(columns={"st": "state"}, inplace = True)

<h6 style="color: #F70206;">Reordering columns</h6>

In [47]:
df_merged1.columns

Index(['raceid', 'driverid', 'lap', 'position', 'lap_time', 'milliseconds',
       'year', 'round', 'circuitid', 'name', 'date', 'time_y', 'circuitref'],
      dtype='object')

In [48]:
df_merged2.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'number',
       'position', 'q1', 'q2', 'q3', 'year', 'round', 'circuitid', 'name',
       'date', 'time', 'circuitref'],
      dtype='object')

In [49]:
column_order1 = ['raceid', 'driverid', 'lap', 'position', 'milliseconds',
       'year', 'round', 'circuitid', 'name', 'date', 'time_y', 'circuitref', 'lap_time']
df_merged1 = df_merged1.reindex(columns=column_order1)

In [50]:
column_order2 = ['qualifyid', 'raceid', 'driverid', 'constructorid', 'number',
       'position', 'year', 'round', 'circuitid', 'name',
       'date', 'time', 'circuitref', 'q1', 'q2', 'q3']
df_merged2 = df_merged2.reindex(columns=column_order2)

<h6 style="color: #F70206;">Cleaning string column values</h6>

In [51]:
df_merged2.q2.unique()

array(['1:30.318', '1:30.085', '1:30.186', '1:30.010', '1:30.513',
       '1:30.222', '1:30.099', '1:30.009', '1:30.595', '1:30.624',
       '1:30.659', '1:30.708', '1:31.203', '1:31.238', '1:33.430', '\\N',
       '1:14.817', '1:14.716', '1:14.884', '1:14.808', '1:14.927',
       '1:15.033', '1:14.718', '1:14.905', '1:15.117', '1:15.138',
       '1:15.199', '1:15.261', '1:15.394', '1:15.593', '1:18.458',
       '1:17.968', '1:18.650', '1:18.845', '1:18.813', '1:18.586',
       '1:18.481', '1:18.769', '1:19.052', '1:18.970', '1:19.109',
       '1:19.216', '1:19.456', '1:19.463', '1:19.812', '1:17.166',
       '1:16.922', '1:17.142', '1:17.717', '1:17.743', '1:17.656',
       '1:17.719', '1:17.669', '1:17.696', '1:17.966', '1:17.974',
       '1:17.982', '1:18.079', '1:18.356', '1:19.154', '1:10.597',
       '1:10.650', '1:10.695', '1:10.806', '1:11.031', '1:11.179',
       '1:11.116', '1:11.309', '1:11.019', '1:11.409', '1:11.486',
       '1:11.598', '1:11.600', '1:11.642', '1:11.830', '1:41.659',
       '1:41.634', '1:41.625', '1:41.932', '1:41.740', '1:41.813',
       '1:41.630', '1:41.654', '1:42.195', '1:42.106', '1:42.224',
       '1:42.273', '1:42.558', '1:42.587', '1:42.758', '1:31.080',
       '1:30.788', '1:30.735', '1:30.971', '1:31.146', '1:31.353',
       '1:31.567', '1:31.542', '1:31.549', '1:31.615', '1:31.736',
       '1:31.767', '1:31.813', '1:32.065', '1:04.433', '1:04.443',
       '1:04.512', '1:04.298', '1:04.197', '1:04.429', '1:04.646',
       '1:04.631', '1:04.582', '1:04.663', '1:04.671', '1:04.800',
       '1:04.808', '1:04.875', '1:04.913', '1:03.927', '1:04.415',
       '1:04.483', '1:04.258', '1:04.376', '1:04.412', '1:04.518',
       '1:04.493', '1:04.553', '1:04.547', '1:04.559', '1:04.600',
       '1:04.719', '1:04.856', '1:05.083', '1:26.023', '1:26.315',
       '1:26.764', '1:26.919', '1:27.073', '1:27.220', '1:27.125',
       '1:27.080', '1:26.848', '1:27.103', '1:27.245', '1:27.273',
       '1:27.340', '1:27.617', '1:27.665', '1:16.553', '1:16.702',
       '1:15.650', '1:16.443', '1:16.394', '1:16.385', '1:16.574',
       '1:16.766', '1:16.541', '1:16.794', '1:16.871', '1:16.893',
       '1:17.564', '1:17.583', '1:56.559', '1:56.950', '1:56.229',
       '1:57.127', '1:56.814', '1:56.440', '1:56.886', '1:56.295',
       '1:57.354', '1:56.025', '1:57.721', '1:58.056', '1:58.137',
       '1:58.205', '1:58.231', '1:09.071', '1:09.726', '1:09.769',
       '1:09.541', '1:09.437', '1:09.870', '1:10.033', '1:09.919',
       '1:10.020', '1:09.865', '1:10.332', '1:10.367', '1:10.406',
       '1:11.161', '1:11.314', '1:20.032', '1:19.936', '1:20.229',
       '1:20.059', '1:20.435', '1:20.556', '1:20.750', '1:20.767',
       '1:20.882', '1:20.726', '1:20.913', '1:21.020', '1:21.069',
       '1:21.103', '1:21.392', '1:45.827', '1:46.521', '1:46.435',
       '1:45.129', '1:46.361', '1:45.514', '1:45.306', '1:46.360',
       '1:45.834', '1:46.070', '1:46.573', '1:46.641', '1:46.751',
       '1:23.082', '1:23.579', '1:23.732', '1:24.015', '1:23.817',
       '1:23.914', '1:23.961', '1:24.642', '1:24.601', '1:24.054',
       '1:24.795', '1:24.842', '1:25.007', '1:25.200', '1:33.464',
       '1:33.797', '1:34.178', '1:33.959', '1:33.928', '1:34.126',
       '1:34.643', '1:33.880', '1:34.583', '1:35.137', '1:35.377',
       '1:35.500', '1:35.794', '1:44.549', '1:16.864', '1:16.474',
       '1:16.483', '1:17.055', '1:16.955', '1:17.248', '1:17.092',
       '1:17.034', '1:16.701', '1:17.473', '1:17.746', '1:17.958',
       '1:18.172', '1:18.290', '1:18.405', '1:08.068', '1:08.499',
       '1:08.426', '1:08.973', '1:08.903', '1:09.031', '1:08.859',
       '1:09.030', '1:09.093', '1:09.137', '1:09.189', '1:09.399',
       '1:09.483', '1:09.503', '1:10.227', '1:21.682', '1:21.984',
       '1:21.991', '1:21.728', '1:21.894', '1:22.216', '1:22.241',
       '1:22.058', '1:22.012', '1:22.146', '1:22.346', '1:22.460',
       '1:22.463', '1:22.597', '1:22.756', '1:27.712', '1:28.054',
       '1:27.953', '1:28.459', '1:27.946', '1:28.314', '1:28.344',
       '1:28.222', '1:28.574', '1:28.616', '1:28.668', '1:28.885',
       '1:28.920', '1:29.054', '1:53.652', '1:22.800', '1:23.145',
       '1:23.256', '1:23.135', '1:23.174', '1:23.246', '1:23.202',
       '1:23.404', '1:23.420', '1:23.448', '1:23.460', '1:24.043',
       '1:24.066', '1:24.251', '1:24.305', '1:30.932', '1:30.757',
       '1:30.787', '1:31.008', '1:31.048', '1:31.717', '1:31.461',
       '1:31.621', '1:31.252', '1:31.635', '1:31.782', '1:31.998',
       '1:32.008', '1:32.664', '1:33.543', '1:29.819', '1:29.773',
       '1:29.651', '1:29.546', '1:29.418', '1:29.404', '1:29.295',
       '1:29.618', '1:29.584', '1:28.945', '1:28.686', '1:28.780',
       '1:28.924', '1:29.920', '1:31.009', '1:18.606', '1:18.611',
       '1:18.340', '1:19.066', '1:19.106', '1:19.076', '1:19.130',
       '1:19.136', '1:18.469', '1:18.815', '1:19.226', '1:19.410',
       '1:19.424', '1:20.155', '1:20.465', nan, '1:18.793', '1:19.584',
       '1:19.294', '1:19.902', '1:19.595', '1:20.031', '1:19.296',
       '1:20.192', '1:19.957', '1:18.990', '1:20.757', '1:20.916',
       '1:21.138', '1:21.434', '1:28.119', '1:29.130', '1:29.729',
       '1:29.202', '1:29.673', '1:29.751', '1:29.797', '1:30.128',
       '1:29.634', '1:30.031', '1:29.996', '1:30.160', '1:30.173',
       '1:30.214', '1:30.310', '1:30.423', '1:19.969', '1:19.219',
       '1:19.453', '1:19.470', '1:19.830', '1:19.794', '1:20.053',
       '1:19.810', '1:20.287', '1:20.436', '1:20.471', '1:20.638',
       '1:20.639', '1:20.861', '1:21.094', '1:11.864', '1:12.074',
       '1:11.954', '1:12.117', '1:12.266', '1:12.617', '1:12.688',
       '1:12.595', '1:12.613', '1:12.528', '1:12.797', '1:12.909',
       '1:12.921', '1:12.964', '1:13.081', '1:42.046', '1:41.955',
       '1:42.227', '1:42.088', '1:43.281', '1:43.129', '1:43.182',
       '1:43.376', '1:43.268', '1:43.360', '1:43.398', '1:43.574',
       '1:43.585', '1:43.790', '1:44.444', '1:23.746', '1:24.848',
       '1:25.197', '1:25.543', '1:26.254', '1:25.684', '1:26.135',
       '1:24.950', '1:26.375', '1:26.116', '1:26.788', '1:26.858',
       '1:33.127', '1:41.602', '1:40.655', '1:41.247', '1:42.513',
       '1:41.062', '1:41.821', '1:42.209', '1:41.725', '1:42.640',
       '1:43.273', '1:43.702', '1:44.232', '1:44.311', '1:44.355',
       '1:45.190', '1:05.374', '1:05.287', '1:05.576', '1:05.697',
       '1:05.993', '1:05.894', '1:06.151', '1:06.082', '1:05.475',
       '1:06.160', '1:06.230', '1:06.319', '1:06.458', '1:06.851',
       '1:25.847', '1:31.216', '1:31.990', '1:32.120', '1:32.274',
       '1:32.777', '1:32.633', '1:32.631', '1:32.836', '1:31.081',
       '1:32.649', '1:32.922', '1:33.048', '1:33.052', '1:33.276',
       '1:33.307', '1:18.154', '1:17.946', '1:17.768', '1:18.121',
       '1:18.216', '1:17.904', '1:18.035', '1:18.445', '1:18.198',
       '1:17.703', '1:18.516', '1:18.573', '1:18.825', '1:19.137',
       '1:19.202', '1:44.723', '1:45.418', '1:44.794', '1:44.551',
       '1:45.475', '1:45.552', '1:45.420', '1:45.461', '1:45.675',
       '1:45.603', '1:45.767', '1:46.085', '1:46.611', '1:47.718',
       '1:10.927', '1:10.988', '1:10.814', '1:11.075', '1:10.824',
       '1:11.420', '1:11.428', '1:11.416', '1:11.512', '1:11.605',
       '1:11.613', '1:11.704', '1:11.802', '1:21.208', '1:21.265',
       '1:20.878', '1:21.358', '1:21.708', '1:21.747', '1:21.831',
       '1:21.855', '1:22.062', '1:21.861', '1:22.130', '1:22.235',
       '1:22.471', '1:22.577', '1:52.343', '1:52.818', '1:52.691',
       '1:53.219', '1:53.127', '1:53.942', '1:53.546', '1:52.723',
       '1:54.006', '1:53.848', '1:54.012', '1:54.211', '1:54.370',
       '1:54.380', '1:55.518', '1:30.346', '1:30.486', '1:30.444',
       '1:29.925', '1:30.357', '1:30.443', '1:30.343', '1:30.465',
       '1:30.656', '1:30.473', '1:30.709', '1:30.808', '1:30.953',
       '1:31.439', '1:35.590', '1:35.246', '1:35.294', '1:35.864',
       '1:35.732', '1:35.692', '1:36.032', '1:36.341', '1:35.988',
       '1:36.321', '1:36.368', '1:36.398', '1:36.740', '1:36.970',
       '1:37.147', '1:18.566', '1:18.565', '1:18.552', '1:18.615',
       '1:18.560', '1:18.762', '1:19.119', '1:19.272', '1:19.081',
       '1:19.325', '1:19.476', '1:19.589', '1:19.672', '1:19.833',
       '1:11.410', '1:10.881', '1:11.318', '1:11.377', '1:10.890',
       '1:11.587', '1:11.394', '1:11.539', '1:11.456', '1:10.950',
       '1:11.631', '1:11.675', '1:11.678', '1:12.140', '1:12.210',
       '1:24.622', '1:24.419', '1:24.517', '1:24.521', '1:24.774',
       '1:24.940', '1:24.903', '1:24.974', '1:25.068', '1:25.096',
       '1:25.219', '1:25.225', '1:25.359', '1:25.408', '1:30.503',
       '1:30.746', '1:30.282', '1:30.515', '1:30.645', '1:30.507',
       '1:31.127', '1:30.914', '1:30.809', '1:31.381', '1:31.443',
       '1:31.473', '1:32.510', '1:28.635', '1:28.903', '1:28.757',
       '1:29.132', '1:28.957', '1:28.962', '1:29.255', '1:29.374',
       '1:29.378', '1:29.411', '1:29.451', '1:29.461', '1:29.668',
       '1:49.953', '1:17.056', '1:17.513', '1:17.551', '1:17.283',
       '1:17.349', '1:17.616', '1:17.390', '1:17.761', '1:17.574',
       '1:17.412', '1:18.099', '1:18.119', '1:18.129', '1:18.335',
       '1:41.037', '1:40.822', '1:41.131', '1:41.369', '1:41.650',
       '1:41.370', '1:41.485', '1:41.569', '1:41.576', '1:41.636',
       '1:41.798', '1:41.818', '1:42.259', '1:42.395', '1:27.328',
       '1:27.097', '1:27.148', '1:27.673', '1:27.612', '1:27.743',
       '1:26.964', '1:27.444', '1:26.814', '1:27.564', '1:27.795',
       '1:27.903', '1:27.975', '1:28.091', '1:28.395', '1:11.908',
       '1:12.107', '1:12.103', '1:12.248', '1:12.156', '1:12.169',
       '1:12.151', '1:12.249', '1:12.377', '1:12.395', '1:12.428',
       '1:12.527', '1:12.623', '1:12.625', '1:12.760', '1:12.790',
       '1:12.776', '1:13.186', '1:12.999', '1:13.082', '1:13.001',
       '1:13.283', '1:13.098', '1:13.059', '1:13.334', '1:13.447',
       '1:13.521', '1:14.083', '1:14.477', '1:19.092', '1:20.305',
       '1:19.776', '1:20.426', '1:20.098', '1:20.406', '1:19.347',
       '1:19.856', '1:19.659', '1:18.725', '1:20.615', '1:20.959',
       '1:21.484', '1:21.678', '1:21.821', '1:04.951', '1:05.087',
       '1:04.975', '1:05.038', '1:05.188', '1:05.121', '1:05.181',
       '1:05.362', '1:05.308', '1:05.387', '1:05.428', '1:05.453',
       '1:05.605', '1:05.680', '2:06.688', '1:27.702', '1:28.042',
       '1:27.845', '1:28.361', '1:28.265', '1:28.782', '1:28.545',
       '1:28.067', '1:28.368', '1:28.751', '1:28.896', '1:28.935',
       '1:28.956', '1:29.031', '1:17.427', '1:17.547', '1:17.328',
       '1:17.571', '1:17.700', '1:17.580', '1:17.563', '1:17.701',
       '1:17.675', '1:17.652', '1:17.841', '1:18.002', '1:18.144',
       '1:18.217', '1:52.784', '1:52.017', '1:52.353', '1:52.345',
       '1:51.711', '1:51.534', '1:52.252', '1:52.605', '1:52.751',
       '1:52.193', '1:53.148', '1:53.671', '1:54.160', '1:54.694',
       '1:56.372'], dtype=object)

In [52]:
df_merged2.q2 = df_merged2.q2.str.replace('\\N', '0:00:000')
df_merged2.q3 = df_merged2.q3.str.replace('\\N', '0:00:000')
df_merged2.q1 = df_merged2.q1.str.replace('\\N', '0:00:000')

<h4 style="color: #F70206;">Dealing with Data types</h4>

<h4 style="color: #F70206;">Dealing with NaN values</h4>

In [53]:
df_merged2

,qualifyid,raceid,driverid,constructorid,number,position,year,round,circuitid,name,date,time,circuitref,q1,q2,q3
0,8735,1052,830,9,33,1,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,1:30.499,1:30.318,1:28.997
1,8736,1052,1,131,44,2,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,1:30.617,1:30.085,1:29.385
2,8737,1052,822,131,77,3,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,1:31.200,1:30.186,1:29.586
3,8738,1052,844,6,16,4,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,1:30.691,1:30.010,1:29.678
4,8739,1052,842,213,10,5,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,1:30.848,1:30.513,1:29.809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,9868,1110,848,3,23,16,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,2:00.314,0:00:000,0:00:000
1115,9869,1110,855,51,24,17,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,2:00.832,0:00:000,0:00:000
1116,9870,1110,858,3,2,18,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,2:01.535,0:00:000,0:00:000
1117,9871,1110,817,213,3,19,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,2:02.159,0:00:000,0:00:000
1118,9872,1110,807,210,27,20,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,2:03.166,0:00:000,0:00:000

In [54]:
df_merged2.isnull().sum()

qualifyid         0
raceid            0
driverid          0
constructorid     0
number            0
position          0
year              0
round             0
circuitid         0
name              0
date              0
time              0
circuitref        0
q1                0
q2               30
q3               72
dtype: int64

<h6 style="color: #F70206;">Filling Nan with methods</h6>

In [55]:
df_merged2["q1"].fillna("0:00:000", inplace=True)
df_merged2["q2"].fillna("0:00:000", inplace=True)
df_merged2["q3"].fillna("0:00:000", inplace=True)

<h6 style="color: #F70206;">Dealing with datetime</h6>

In [56]:
df_merged1[['minutos', 'segundos', 'milisegundos']] = df_merged1['lap_time'].str.replace('.', ':').str.split(':', expand=True)

In [57]:
df_merged1['minutos'] = df_merged1['minutos'].astype(int)
df_merged1['segundos'] = df_merged1['segundos'].astype(int)
df_merged1['milisegundos'] = df_merged1['milisegundos'].astype(int)

In [58]:
df_merged1['lap_time'] = pd.to_timedelta(df_merged1['minutos'], unit='m') + \
                         pd.to_timedelta(df_merged1['segundos'], unit='s') + \
                         pd.to_timedelta(df_merged1['milisegundos'], unit='ms')

In [59]:
df_merged1.drop(columns=['minutos', 'segundos', 'milisegundos'], inplace=True)

In [60]:
df_merged1

,raceid,driverid,lap,position,milliseconds,year,round,circuitid,name,date,time_y,circuitref,lap_time
490904,1052,830,1,1,118245,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:58.245000
490905,1052,830,2,1,142406,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:02:22.406000
490906,1052,830,3,1,158001,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:02:38.001000
490907,1052,830,4,1,104343,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:44.343000
490908,1052,830,5,1,104629,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:44.629000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
551737,1110,817,40,17,114361,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,0 days 00:01:54.361000
551738,1110,817,41,17,113367,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,0 days 00:01:53.367000
551739,1110,817,42,16,115247,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,0 days 00:01:55.247000
551740,1110,817,43,16,112115,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,0 days 00:01:52.115000
551741,1110,817,44,16,112265,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,0 days 00:01:52.265000

In [61]:
df_merged2[['minutos', 'segundos', 'milisegundos']] = df_merged2['q1'].str.replace('.', ':').str.split(':', expand=True)
df_merged2['minutos'] = df_merged2['minutos'].astype(int)
df_merged2['segundos'] = df_merged2['segundos'].astype(int)
df_merged2['milisegundos'] = df_merged2['milisegundos'].astype(int)
df_merged2['q1'] = pd.to_timedelta(df_merged2['minutos'], unit='m') + \
                         pd.to_timedelta(df_merged2['segundos'], unit='s') + \
                         pd.to_timedelta(df_merged2['milisegundos'], unit='ms')
df_merged2.drop(columns=['minutos', 'segundos', 'milisegundos'], inplace=True)

In [62]:
df_merged2[['minutos', 'segundos', 'milisegundos']] = df_merged2['q2'].str.replace('.', ':').str.split(':', expand=True)
df_merged2['minutos'] = df_merged2['minutos'].astype(int)
df_merged2['segundos'] = df_merged2['segundos'].astype(int)
df_merged2['milisegundos'] = df_merged2['milisegundos'].astype(int)
df_merged2['q2'] = pd.to_timedelta(df_merged2['minutos'], unit='m') + \
                         pd.to_timedelta(df_merged2['segundos'], unit='s') + \
                         pd.to_timedelta(df_merged2['milisegundos'], unit='ms')
df_merged2.drop(columns=['minutos', 'segundos', 'milisegundos'], inplace=True)

In [63]:
df_merged2[['minutos', 'segundos', 'milisegundos']] = df_merged2['q3'].str.replace('.', ':').str.split(':', expand=True)
df_merged2['minutos'] = df_merged2['minutos'].astype(int)
df_merged2['segundos'] = df_merged2['segundos'].astype(int)
df_merged2['milisegundos'] = df_merged2['milisegundos'].astype(int)
df_merged2['q3'] = pd.to_timedelta(df_merged2['minutos'], unit='m') + \
                         pd.to_timedelta(df_merged2['segundos'], unit='s') + \
                         pd.to_timedelta(df_merged2['milisegundos'], unit='ms')
df_merged2.drop(columns=['minutos', 'segundos', 'milisegundos'], inplace=True)

In [64]:
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60838 entries, 490904 to 551741
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceid        60838 non-null  int64
 1   driverid      60838 non-null  int64
 2   lap           60838 non-null  int64
 3   position      60838 non-null  int64
 4   milliseconds  60838 non-null  int64
 5   year          60838 non-null  int64
 6   round         60838 non-null  int64
 7   circuitid     60838 non-null  int64
 8   name          60838 non-null  object
 9   date          60838 non-null  object
 10  time_y        60838 non-null  object
 11  circuitref    60838 non-null  object
 12  lap_time      60838 non-null  timedelta64[ns]
dtypes: int64(8), object(4), timedelta64[ns](1)
memory usage: 6.5+ MB

In [65]:
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyid      1119 non-null   int64
 1   raceid         1119 non-null   int64
 2   driverid       1119 non-null   int64
 3   constructorid  1119 non-null   int64
 4   number         1119 non-null   int64
 5   position       1119 non-null   int64
 6   year           1119 non-null   int64
 7   round          1119 non-null   int64
 8   circuitid      1119 non-null   int64
 9   name           1119 non-null   object
 10  date           1119 non-null   object
 11  time           1119 non-null   object
 12  circuitref     1119 non-null   object
 13  q1             1119 non-null   timedelta64[ns]
 14  q2             1119 non-null   timedelta64[ns]
 15  q3             1119 non-null   timedelta64[ns]
dtypes: int64(9), object(4), timedelta64[ns](3)
memory usage: 140.0+ KB

In [66]:
df_merged1.head()

,raceid,driverid,lap,position,milliseconds,year,round,circuitid,name,date,time_y,circuitref,lap_time
490904,1052,830,1,1,118245,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:58.245000
490905,1052,830,2,1,142406,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:02:22.406000
490906,1052,830,3,1,158001,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:02:38.001000
490907,1052,830,4,1,104343,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:44.343000
490908,1052,830,5,1,104629,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,bahrain,0 days 00:01:44.629000

<h6 style="color: #F70206;">TRANSFORMING TO MILISECONDS</h6>

In [67]:
df_merged1['lap_time'] = df_merged1['lap_time'].dt.total_seconds() * 1000

In [68]:
df_merged2['q1'] = df_merged2['q1'].dt.total_seconds() * 1000

In [69]:
df_merged2['q2'] = df_merged2['q2'].dt.total_seconds() * 1000

In [70]:
df_merged2['q3'] = df_merged2['q3'].dt.total_seconds() * 1000

In [71]:
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60838 entries, 490904 to 551741
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceid        60838 non-null  int64
 1   driverid      60838 non-null  int64
 2   lap           60838 non-null  int64
 3   position      60838 non-null  int64
 4   milliseconds  60838 non-null  int64
 5   year          60838 non-null  int64
 6   round         60838 non-null  int64
 7   circuitid     60838 non-null  int64
 8   name          60838 non-null  object
 9   date          60838 non-null  object
 10  time_y        60838 non-null  object
 11  circuitref    60838 non-null  object
 12  lap_time      60838 non-null  float64
dtypes: float64(1), int64(8), object(4)
memory usage: 6.5+ MB

In [72]:
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyid      1119 non-null   int64
 1   raceid         1119 non-null   int64
 2   driverid       1119 non-null   int64
 3   constructorid  1119 non-null   int64
 4   number         1119 non-null   int64
 5   position       1119 non-null   int64
 6   year           1119 non-null   int64
 7   round          1119 non-null   int64
 8   circuitid      1119 non-null   int64
 9   name           1119 non-null   object
 10  date           1119 non-null   object
 11  time           1119 non-null   object
 12  circuitref     1119 non-null   object
 13  q1             1119 non-null   float64
 14  q2             1119 non-null   float64
 15  q3             1119 non-null   float64
dtypes: float64(3), int64(9), object(4)
memory usage: 140.0+ KB

<h4 style="color: #F70206;">Dealing with NaN values</h4>

In [73]:
df.isna().sum()

raceid          0
driverid        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

<h4 style="color: #F70206;">Dealing with Duplicates</h4>

In [74]:
df_merged1.duplicated().sum()

0

In [75]:
df_merged2.duplicated().sum()

0

<h4 style="color: #F70206;">Dealing with Empty Spaces</h4>

In [76]:
df_merged1.eq(" ").sum()

raceid          0
driverid        0
lap             0
position        0
milliseconds    0
year            0
round           0
circuitid       0
name            0
date            0
time_y          0
circuitref      0
lap_time        0
dtype: int64

In [77]:
df_merged2.eq(" ").sum()

qualifyid        0
raceid           0
driverid         0
constructorid    0
number           0
position         0
year             0
round            0
circuitid        0
name             0
date             0
time             0
circuitref       0
q1               0
q2               0
q3               0
dtype: int64

<h4 style="color: #F70206;">Dropping columns</h4>

In [78]:
df_merged2.sample(20)

,qualifyid,raceid,driverid,constructorid,number,position,year,round,circuitid,name,date,time,circuitref,q1,q2,q3
656,9410,1084,855,51,24,18,2022,11,70,Austrian Grand Prix,2022-07-10,13:00:00,red_bull_ring,66901.0,0.0,0.0
619,9373,1083,832,6,55,1,2022,10,9,British Grand Prix,2022-07-03,14:00:00,silverstone,100190.0,101602.0,100983.0
999,9753,1105,830,9,1,1,2023,7,4,Spanish Grand Prix,2023-06-04,13:00:00,catalunya,73615.0,72760.0,72272.0
100,8835,1057,1,131,44,2,2021,6,73,Azerbaijan Grand Prix,2021-06-06,12:00:00,baku,101545.0,101634.0,101450.0
319,9056,1069,830,9,33,1,2021,17,69,United States Grand Prix,2021-10-24,19:00:00,americas,94352.0,93464.0,92910.0
231,8966,1063,832,6,55,13,2021,12,13,Belgian Grand Prix,2021-08-29,13:00:00,spa,121184.0,118137.0,0.0
390,9127,1051,840,117,18,12,2021,20,78,Qatar Grand Prix,2021-11-21,14:00:00,losail,82551.0,82460.0,0.0
777,9531,1091,848,3,23,19,2022,17,15,Singapore Grand Prix,2022-10-02,12:00:00,marina_bay,116985.0,0.0,0.0
185,8920,1061,817,1,3,7,2021,10,9,British Grand Prix,2021-07-18,14:00:00,silverstone,87323.0,87125.0,86899.0
61,8796,1055,830,9,33,2,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,catalunya,78090.0,76922.0,76777.0
904,9658,1099,840,117,18,6,2023,2,77,Saudi Arabian Grand Prix,2023-03-19,17:00:00,jeddah,89335.0,88962.0,88945.0
1007,9761,1105,4,117,14,9,2023,7,4,Spanish Grand Prix,2023-06-04,13:00:00,catalunya,73747.0,73098.0,73507.0
731,9485,1088,4,214,14,13,2022,15,39,Dutch Grand Prix,2022-09-04,13:00:00,zandvoort,71667.0,71613.0,0.0
197,8932,1061,854,210,47,19,2021,10,9,British Grand Prix,2021-07-18,14:00:00,silverstone,88738.0,0.0,0.0
1105,9859,1110,846,1,4,7,2023,12,13,Belgian Grand Prix,2023-07-30,13:00:00,spa,119981.0,112252.0,107669.0
195,8930,1061,8,51,7,17,2021,10,9,British Grand Prix,2021-07-18,14:00:00,silverstone,88062.0,0.0,0.0
933,9687,1100,856,213,21,15,2023,3,1,Australian Grand Prix,2023-04-02,05:00:00,albert_park,78450.0,78335.0,0.0
364,9101,1071,832,6,55,6,2021,19,18,S√£o Paulo Grand Prix,2021-11-14,17:00:00,interlagos,69046.0,69031.0,68826.0
655,9409,1084,840,117,18,17,2022,11,70,Austrian Grand Prix,2022-07-10,13:00:00,red_bull_ring,66847.0,0.0,0.0
827,9581,1094,4,214,14,9,2022,20,32,Mexico City Grand Prix,2022-10-30,20:00:00,rodriguez,80006.0,79272.0,78939.0

In [79]:
df_merged1.drop(columns=["time_y"], inplace=True)

In [80]:
df_merged2.drop(columns=["date"], inplace=True)

In [81]:
df_merged2.drop(columns=["number"], inplace=True)

In [82]:
df_merged1

,raceid,driverid,lap,position,milliseconds,year,round,circuitid,name,date,circuitref,lap_time
490904,1052,830,1,1,118245,2021,1,3,Bahrain Grand Prix,2021-03-28,bahrain,118245.0
490905,1052,830,2,1,142406,2021,1,3,Bahrain Grand Prix,2021-03-28,bahrain,142406.0
490906,1052,830,3,1,158001,2021,1,3,Bahrain Grand Prix,2021-03-28,bahrain,158001.0
490907,1052,830,4,1,104343,2021,1,3,Bahrain Grand Prix,2021-03-28,bahrain,104343.0
490908,1052,830,5,1,104629,2021,1,3,Bahrain Grand Prix,2021-03-28,bahrain,104629.0
...,...,...,...,...,...,...,...,...,...,...,...,...
551737,1110,817,40,17,114361,2023,12,13,Belgian Grand Prix,2023-07-30,spa,114361.0
551738,1110,817,41,17,113367,2023,12,13,Belgian Grand Prix,2023-07-30,spa,113367.0
551739,1110,817,42,16,115247,2023,12,13,Belgian Grand Prix,2023-07-30,spa,115247.0
551740,1110,817,43,16,112115,2023,12,13,Belgian Grand Prix,2023-07-30,spa,112115.0
551741,1110,817,44,16,112265,2023,12,13,Belgian Grand Prix,2023-07-30,spa,112265.0

In [83]:
df_merged1 = df_merged1.sort_values(by="raceid", ascending=True)

In [84]:
df_merged2.rename(columns={'position': 'position_final'}, inplace=True)

In [85]:
df_merged2

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,name,time,circuitref,q1,q2,q3
0,8735,1052,830,9,1,2021,1,3,Bahrain Grand Prix,15:00:00,bahrain,90499.0,90318.0,88997.0
1,8736,1052,1,131,2,2021,1,3,Bahrain Grand Prix,15:00:00,bahrain,90617.0,90085.0,89385.0
2,8737,1052,822,131,3,2021,1,3,Bahrain Grand Prix,15:00:00,bahrain,91200.0,90186.0,89586.0
3,8738,1052,844,6,4,2021,1,3,Bahrain Grand Prix,15:00:00,bahrain,90691.0,90010.0,89678.0
4,8739,1052,842,213,5,2021,1,3,Bahrain Grand Prix,15:00:00,bahrain,90848.0,90513.0,89809.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,9868,1110,848,3,16,2023,12,13,Belgian Grand Prix,13:00:00,spa,120314.0,0.0,0.0
1115,9869,1110,855,51,17,2023,12,13,Belgian Grand Prix,13:00:00,spa,120832.0,0.0,0.0
1116,9870,1110,858,3,18,2023,12,13,Belgian Grand Prix,13:00:00,spa,121535.0,0.0,0.0
1117,9871,1110,817,213,19,2023,12,13,Belgian Grand Prix,13:00:00,spa,122159.0,0.0,0.0
1118,9872,1110,807,210,20,2023,12,13,Belgian Grand Prix,13:00:00,spa,123166.0,0.0,0.0

In [86]:
df_merged2.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'name', 'time', 'circuitref', 'q1', 'q2',
       'q3'],
      dtype='object')

In [87]:
df_merged2 = df_merged2.sort_values(by="raceid", ascending=True)

In [88]:
df_merged2 = df_merged2.drop(['name', 'time'], axis=1)

In [90]:
dfq1 = df_merged2[['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final', 'year',
                   'round', 'circuitid', 'circuitref', 'q1']]

In [91]:
dfq2 = df_merged2[['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final', 'year',
                   'round', 'circuitid', 'circuitref', 'q2']]

In [92]:
dfq3 = df_merged2[['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final', 'year',
                   'round', 'circuitid', 'circuitref', 'q3']]

In [93]:
dfq3

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,q3
379,9116,1051,1,131,1,2021,20,78,losail,80827.0
397,9134,1051,854,210,19,2021,20,78,losail,0.0
396,9133,1051,841,51,18,2021,20,78,losail,0.0
395,9132,1051,849,3,17,2021,20,78,losail,0.0
394,9131,1051,8,51,16,2021,20,78,losail,0.0
...,...,...,...,...,...,...,...,...,...,...
1100,9854,1110,844,6,2,2023,12,13,spa,106988.0
1099,9853,1110,830,9,1,2023,12,13,spa,106168.0
1117,9871,1110,817,213,19,2023,12,13,spa,0.0
1107,9861,1110,4,117,9,2023,12,13,spa,107843.0
1118,9872,1110,807,210,20,2023,12,13,spa,0.0

<h4 style="color: #F70206;">Data to csv</h4>

In [94]:
df_merged1.to_csv('dfcarrera.csv', index=False)

In [95]:
dfq1.to_csv('dfq1.csv', index=False)
dfq2.to_csv('dfq2.csv', index=False)
dfq3.to_csv('dfq3.csv', index=False)

In [96]:
dfbahrain = dfq1[dfq1["circuitref"] == "bahrain"]
dfbahrain

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,q1
0,8735,1052,830,9,1,2021,1,3,bahrain,90499.0
19,8754,1052,853,210,20,2021,1,3,bahrain,93273.0
3,8738,1052,844,6,4,2021,1,3,bahrain,90691.0
4,8739,1052,842,213,5,2021,1,3,bahrain,90848.0
5,8740,1052,817,1,6,2021,1,3,bahrain,90795.0
6,8741,1052,846,1,7,2021,1,3,bahrain,90902.0
7,8742,1052,832,6,8,2021,1,3,bahrain,91653.0
8,8743,1052,4,214,9,2021,1,3,bahrain,90863.0
9,8744,1052,840,117,10,2021,1,3,bahrain,91261.0
10,8745,1052,815,9,11,2021,1,3,bahrain,91165.0
11,8746,1052,841,51,12,2021,1,3,bahrain,90998.0
12,8747,1052,852,213,13,2021,1,3,bahrain,90607.0
13,8748,1052,8,51,14,2021,1,3,bahrain,91547.0
14,8749,1052,847,3,15,2021,1,3,bahrain,91316.0
15,8750,1052,839,214,16,2021,1,3,bahrain,91724.0
16,8751,1052,849,3,17,2021,1,3,bahrain,91936.0
17,8752,1052,20,117,18,2021,1,3,bahrain,92056.0
18,8753,1052,854,210,19,2021,1,3,bahrain,92449.0
2,8737,1052,822,131,3,2021,1,3,bahrain,91200.0
1,8736,1052,1,131,2,2021,1,3,bahrain,90617.0
450,9187,1074,854,210,12,2022,1,3,bahrain,92380.0
457,9194,1074,840,117,19,2022,1,3,bahrain,93032.0
456,9193,1074,817,1,18,2022,1,3,bahrain,92945.0
455,9192,1074,807,117,17,2022,1,3,bahrain,92777.0
454,9191,1074,852,213,16,2022,1,3,bahrain,92750.0
453,9190,1074,855,51,15,2022,1,3,bahrain,92493.0
452,9189,1074,848,3,14,2022,1,3,bahrain,92726.0
451,9188,1074,846,1,13,2022,1,3,bahrain,92239.0
449,9186,1074,839,214,11,2022,1,3,bahrain,92041.0
458,9195,1074,849,3,20,2022,1,3,bahrain,93634.0
447,9184,1074,847,131,9,2022,1,3,bahrain,92269.0
439,9176,1074,844,6,1,2022,1,3,bahrain,91471.0
440,9177,1074,830,9,2,2022,1,3,bahrain,91785.0
441,9178,1074,832,6,3,2022,1,3,bahrain,91567.0
442,9179,1074,815,9,4,2022,1,3,bahrain,92311.0
448,9185,1074,842,213,10,2022,1,3,bahrain,92096.0
444,9181,1074,822,51,6,2022,1,3,bahrain,91919.0
445,9182,1074,825,210,7,2022,1,3,bahrain,91955.0
446,9183,1074,4,214,8,2022,1,3,bahrain,92346.0
443,9180,1074,1,131,5,2022,1,3,bahrain,92285.0
891,9645,1098,855,51,13,2023,1,3,bahrain,91615.0
898,9652,1098,842,214,20,2023,1,3,bahrain,92181.0
897,9651,1098,856,213,19,2023,1,3,bahrain,92121.0
896,9650,1098,857,1,18,2023,1,3,bahrain,92101.0
895,9649,1098,825,210,17,2023,1,3,bahrain,91892.0
894,9648,1098,858,3,16,2023,1,3,bahrain,91652.0
893,9647,1098,848,3,15,2023,1,3,bahrain,91461.0
892,9646,1098,852,213,14,2023,1,3,bahrain,91400.0
890,9644,1098,822,51,12,2023,1,3,bahrain,91504.0
889,9643,1098,846,1,11,2023,1,3,bahrain,91652.0
879,9633,1098,830,9,1,2023,1,3,bahrain,91295.0
880,9634,1098,815,9,2,2023,1,3,bahrain,91479.0
881,9635,1098,844,6,3,2023,1,3,bahrain,91094.0
882,9636,1098,832,6,4,2023,1,3,bahrain,90993.0
883,9637,1098,4,117,5,2023,1,3,bahrain,91158.0
888,9642,1098,807,210,10,2023,1,3,bahrain,91204.0
885,9639,1098,1,131,7,2023,1,3,bahrain,91543.0
886,9640,1098,840,117,8,2023,1,3,bahrain,91184.0
887,9641,1098,839,214,9,2023,1,3,bahrain,91508.0
884,9638,1098,847,131,6,2023,1,3,bahrain,91057.0